.artefactDetails h2 {
    font-size: 30x;
    color: #f1356d;
    margin-bottom: 10px;
  }
  .artefactDetails div {
    margin: 20px 0;
  }
  .artefactDetails button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
  